<nav class="navbar">
  <span class="navbar-brand">BookStore</span>
  <ul class="navbar-nav">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/favorites">Favorites</a></li>
    <li><a routerLink="#">Shop</a></li>
  </ul>

  <!-- Mobile Menu -->
  <div class="toggleMenu">
    <button class="toggleMenuButton" cdkMenuItem [cdkMenuTriggerFor]="file">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>
</nav>

<ng-template #file>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" routerLink="/" cdkMenuItem>Home</button>
    <button class="example-menu-item" routerLink="/favorites" cdkMenuItem>
      Favorites
    </button>
    <button class="example-menu-item" routerLink="/" cdkMenuItem>Shop</button>
  </div>
</ng-template>
