<div class="new-book">
  <div class="product-card">
    <h2 class="title">
      {{ book().title }}
    </h2>
    @if (book().subtitle) {
      <p class="subtitle">{{ book().subtitle }}</p>
    } @else {
      <p class="subtitle">No subtitle available</p>
    }
    <span class="price">{{ book().price }}</span>
    <a [routerLink]="['/books', book().isbn13]" class="view-more">
      See more
      <fa-icon [icon]="faArrowRight" />
    </a>
  </div>
  <div class="product-image">
    <img [src]="book().image" [alt]="book().title" />
  </div>
</div>
