<div class="new-book">
  <div class="product-card">
    <h2 class="title">
      {{ book().title }}
    </h2>
    <p class="subtitle">
      @if (book().subtitle) {
        {{ book().subtitle }}
      } @else {
        <p>No subtitle available</p>
      }
    </p>
    <span class="price">{{ book().price }}</span>
    <a [routerLink]="['/books', book().isbn13]" class="view-more">
      See more
      <fa-icon [icon]="faArrowRight" />
    </a>
  </div>
  <div class="product-image">
    <img [src]="book().image" [alt]="book().title" />
  </div>
</div>
